div {
  border: 20px solid #000; /* this is short hand for setting
                            the border's width, its type, and color */
  display: inline-block; /* a way of positioning elements */
  min-width: 20em; /* the two min styles make the shape */
  min-height: 25em; /* of the divs oblong*/
  border-radius: 50%; /* this makes the normally square div round */
  border-left-color: transparent; /* these remove the color from the left side */
  border-right-color: transparent; /* the right side */
  border-bottom-color: transparent; /* and the bottom of the circle */
}
#yellow {
  border-top-color: rgb(240, 247, 134)
}
#green {
  border-top-color: rgb(142, 236, 147)
}
#blue {
  border-top-color: rgb(101, 173, 240)
}
#darkblue {
  border-top-color: rgb(51, 102, 240)
}
#purple {
  border-top-color: rgb(215, 134, 247)
}
#pink {
  border-top-color: rgb(231, 163, 209)
}
#red {
  border-top-color: rgb(228, 125, 125)
}